*{
    margin:0;
    box-sizing: border-box;

}

a:hover{
    text-decoration: underline!important;
    
}

.favorite-button:hover{
    text-decoration: none!important;
}

.favorite-button:active{
    background-color: rgb(29, 29, 29)!important;
    transform:scale(0.98);
}

img{
    transition: transform 0.3s, box-shadow 0.3s;
}

.luxury{
    z-index: 3;
}

img:hover{
    transform:scale(1.03);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    z-index: 2;
}

